body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffefd5; /* Un suave color durazno como fondo */
    text-align: center;
}
.container {
    max-width: 340px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
.option {
    font-size: 64px; /* Tamaño más grande para las cajas */
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    color: #ff69b4; /* Color rosa para mayor atractivo */
    transition: transform 0.2s ease;
}
.option:hover {
    transform: scale(1.1); /* Efecto de crecimiento al pasar el mouse */
}
.message {
    display: none;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.message:target {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}
a.button {
    background-color: #008cba; /* Color azul para el botón */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}
a.button:hover {
    background-color: #007ba7; /* Un azul ligeramente más oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h2 {
    color: #333;
    margin-bottom: 30px;
}